
@model IEnumerable<App.Entities.Base.Producto>

@{ ViewBag.Title = "Index";}

<h2>Lista de Productos</h2>
@Html.ActionLink("Nuevo Producto", "Create", "Producto", new { @class = "btn btn-success" })
@using (Html.BeginForm())
{
    <label>Buscar por Nombre</label>
    <input type="text" id="txtBuscarNombre" name="filterByName" />
    <br />
    <label>Buscar por Categoría</label>
    @Html.DropDownList("filterByCategoria", new SelectList(ViewBag.Categorias, "CategoriaId", "Nombre")
                            , "Todos", new { @class = "form-control" })
    <br />
    <label>Buscar por Marca</label>
    @Html.DropDownList("filterByMarca", new SelectList(ViewBag.Marcas, "MarcaId", "Nombre")
                            , "Todos", new { @class = "form-control" })
    <button class="btn btn-primary" type="button" id="btnConsultar">Buscar</button>

}

<div id="resultado">

</div>

@section scriptsAdicionales{
    <script type="text/javascript">
           $(document).ready(configInit);
           function configInit() {
               $("#btnConsultar").on("click", buscar);
           }
           function buscar() {
               //Function jquery ajax
               $.post('@Url.Action("Index2Buscar", "Producto")', {
                   filterByName: $("#txtBuscarNombre").val(),
                   filterByCategoria: $("#filterByCategoria").val(),
                   filterByMarca: $("#filterByMarca").val()
                   },
                   function (response) {
                       $("#resultado").html(response);
                   }
               )
           }
    </script>

}